/*===================================
			General 
===================================*/
*{
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}

body, h1, h2{
	margin: 0;
}

h1, h2{
	font-family: 'Oswald', sans-serif;
}

.highlighted-text{
	color: #8e44ad;
	font-weight: bold;
}

/*===================================
			Header
===================================*/
header{
	background-color: black;
	color: #f1c40f;
	height: 65px;
	text-align: center;
	width: 100%;
}

header h1{
	font-size: 2.5em;
}

/*===================================
		General Container
===================================*/
#container{
	padding: 20px;
}

#container p{
	font-size: 1.3em;
}

/*===================================
		Unordered List Container
===================================*/
#ul-container{
	background-color: #ecf0f1;
	padding: 20px;
}

#ul-container ul{
	list-style: none;
	padding: 0;
}

#ul-container ul li{
	margin-top: 10px;
	margin-bottom: 10px;
}

.li-example{
	margin: 0 40px;
}