*{
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}

body, h1, h2{
	margin: 0;
}

h1, h2{
	font-family: 'Oswald', sans-serif;
}

header{
	background-color: black;
	color: #f1c40f;
	height: 65px;
	text-align: center;
	width: 100%;
}

header h1{
	font-size: 2.5em;
}